<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipes List</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Recipes List</h1>
    <a href="recipes/create" class="btn btn-primary">Register New Recipe</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Instructions</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.name}"></td>
            <td th:text="${recipe.instructions}"></td>
            <td th:text="${recipe.getCategory().name}"></td>
<!--            <td><span th:each="category : ${recipe.getCategory()}" th:text="${category.name} + ' '"></span></td>-->
            <td>
                <a th:href="@{/recipes/{id}(id=${recipe.id})}" class="btn btn-info">View</a>
                <a th:href="@{/recipes/edit/{id}(id=${recipe.id})}" class="btn btn-warning">Edit</a>
                <form th:action="@{/recipes/delete/{id}(id=${recipe.id})}" th:method="post" style="display:inline;">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<!-- Add Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>